{
  "openapi": "3.0.2",
  "info": {
    "title": "カラーミーショップ API",
    "description": "# カラーミーショップ API\n\n## 利用手順\n\n### OAuthアプリケーションの登録\n\nデベロッパーアカウントをお持ちでない場合は作成します。[デベロッパー登録ページ](https://api.shop-pro.jp/developers/sign_up)から登録してください。\n\n次に、[登録ページ](https://api.shop-pro.jp/oauth/applications/new)からアプリ登録を行ってください。\nスマートフォンのWebViewを利用する場合は、リダイレクトURIに`urn:ietf:wg:oauth:2.0:oob`を入力してください。\n\n### 認可\n\nカラーミーショップアカウントの認証ページを開きます。認証ページのURLは、`https://api.shop-pro.jp/oauth/authorize`に必要なパラメータをつけたものです。\n\n|パラメータ名|値|\n|---|---|\n|`client_id`|アプリ詳細画面で確認できるクライアントID|\n|`response_type`|\"code\"を指定|\n|`scope`| 別表参照|\n|`redirect_uri`|アプリ登録時に入力したリダイレクトURI|\n\n`scope`は、以下のうち、アプリが利用したい機能をスペース区切りで指定してください。\n\n|スコープ|機能|\n|---|---|\n|`read_products`|商品データの参照|\n|`write_products`|在庫データの更新|\n|`read_sales`|受注・顧客データの参照|\n|`write_sales`|受注データの更新|\n|`read_shop_coupons`|ショップクーポンの参照|\n|`write_shop_coupons`|ショップクーポンの更新|\n|`read_templates`|テンプレートの参照|\n|`write_templates`|テンプレートの追加・更新|\n\n以下のようなURLとなります。\n\n```\nhttps://api.shop-pro.jp/oauth/authorize?client_id=CLIENT_ID&redirect_uri=REDIRECT_URI&response_type=code&scope=read_products%20write_products\n```\n\n初めてこのページを訪れる場合は、カラーミーショップアカウントのログインIDとパスワードの入力を求められます。\n\nログイン後の認証ページでアプリとの連携が承認された場合は、`code`というクエリパラメータに認可コードが付与されます。承認がキャンセルされた、またはエラーが起きた場合は、\n`error`パラメータにエラーの内容を表す文字列が与えられます。\n\nアプリ登録時のリダイレクトURIに`urn:ietf:wg:oauth:2.0:oob`を指定した場合は、以下のようなURLにリダイレクトされ、\n認可コードがURLの末尾に付与されます。\n\n```\nhttps://api.shop-pro.jp/oauth/authorize/AUTH_CODE\n```\n\n認可コードの有効期限は発行から10分間です。\n\n### 認可コードをアクセストークンに交換\n\n以下のパラメータを付けて、`https://api.shop-pro.jp/oauth/token`へリクエストを送ります。\n\n|パラメータ名|値|\n|---|---|\n|`client_id`|アプリ詳細画面に表示されているクライアントID|\n|`client_secret`|アプリ詳細画面に表示されているクライアントシークレット|\n|`code`|取得した認可コード|\n|`grant_type`|\"authorization_code\"を指定|\n|`redirect_uri`|アプリ登録時に入力したリダイレクトURI|\n\ncurlによるリクエストの例を以下に示します。\n```console\n$ curl -X POST \\\n  -d'client_id=CLIENT_ID' \\\n  -d'client_secret=CLIENT_SECRET' \\\n  -d'code=CODE' \\\n  -d'grant_type=authorization_code'   \\\n  -d'redirect_uri=REDIRECT_URI'  \\\n  'https://api.shop-pro.jp/oauth/token'\n```\n\nリクエストが成功すると、以下のようなJSONが返却されます\n\n```json\n{\n  \"access_token\": \"d461ab8XXXXXXXXXXXXXXXXXXXXXXXXX\",\n  \"token_type\": \"bearer\",\n  \"scope\": \"read_products write_products\"\n}\n```\n\nアクセストークンに有効期限はありませんが、[許可済みアプリ一覧画面](https://admin.shop-pro.jp/?mode=app_use_lst)から失効させることができます。なお、同じ認可コードをアクセストークンに交換できるのは1度だけです。\n\n### APIの利用\n\n取得したアクセストークンは、Authorizationヘッダに入れて使用します。以下にショップ情報を取得する例を示します。\n\n```console\n$ curl -H 'Authorization: Bearer d461ab8XXXXXXXXXXXXXXXXXXXXXXXXX' https://api.shop-pro.jp/v1/shop.json\n```\n\n## エラー\n\nカラーミーショップAPIでは、以下の形式の配列でエラーを表現します。\n\n- `code` エラーコード\n- `message` エラーメッセージ\n- `status` ステータスコード\n\n```json\n{\n  \"errors\": [\n    {\n      \"code\": 404100,\n      \"message\": \"レコードが見つかりませんでした。\",\n      \"status\": 404\n    }\n  ]\n}\n```\n\n## 都道府県コードについて\nAPIを利用して都道府県コードを更新したり、レスポンスを参照される際には以下の表を参考にしてください。\n\n<details>\n  <summary>都道府県コード一覧</summary>\n\n  |id|都道府県|\n  |---|---|\n  |1|北海道|\n  |2|青森県|\n  |3|岩手県|\n  |4|秋田県|\n  |5|宮城県|\n  |6|山形県|\n  |7|福島県|\n  |8|茨城県|\n  |9|栃木県|\n  |10|群馬県|\n  |11|埼玉県|\n  |12|千葉県|\n  |13|東京都|\n  |14|神奈川県|\n  |15|新潟県|\n  |16|福井県|\n  |17|石川県|\n  |18|富山県|\n  |19|静岡県|\n  |20|山梨県|\n  |21|長野県|\n  |22|愛知県|\n  |23|岐阜県|\n  |24|三重県|\n  |25|和歌山県|\n  |26|滋賀県|\n  |27|奈良県|\n  |28|京都府|\n  |29|大阪府|\n  |30|兵庫県|\n  |31|岡山県|\n  |32|広島県|\n  |33|鳥取県|\n  |34|島根県|\n  |35|山口県|\n  |36|香川県|\n  |37|徳島県|\n  |38|愛媛県|\n  |39|高知県|\n  |40|福岡県|\n  |41|佐賀県|\n  |42|長崎県|\n  |43|大分県|\n  |44|熊本県|\n  |45|宮崎県|\n  |46|鹿児島県|\n  |47|沖縄県|\n  |48|海外|\n\n</details>\n\n## β版について\n\n正式版として提供する前の段階で、安定稼働することを確認するためのステータスです。\nβ版として提供する過程で仕様変更等が発生する可能性があります。\n",
    "termsOfService": "https://api.shop-pro.jp/developers/tos",
    "contact": {
      "name": "お問い合せ窓口",
      "url": "https://developer.shop-pro.jp"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://static-www.shop-pro.jp/img/cms_components/cms_header/cms_header_brand.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.shop-pro.jp"
    }
  ],
  "tags": [
    {
      "name": "shop",
      "description": "ショップ",
      "x-displayName": "ショップ"
    },
    {
      "name": "sale",
      "description": "受注",
      "x-displayName": "受注"
    },
    {
      "name": "customer",
      "description": "顧客",
      "x-displayName": "顧客"
    },
    {
      "name": "product",
      "description": "商品",
      "x-displayName": "商品"
    },
    {
      "name": "product_variant",
      "description": "商品バリエーション",
      "x-displayName": "商品バリエーション"
    },
    {
      "name": "product_option",
      "description": "商品オプション",
      "x-displayName": "商品オプション"
    },
    {
      "name": "stock",
      "description": "在庫",
      "x-displayName": "在庫"
    },
    {
      "name": "group",
      "description": "商品グループ",
      "x-displayName": "商品グループ"
    },
    {
      "name": "category",
      "description": "商品カテゴリー",
      "x-displayName": "商品カテゴリー"
    },
    {
      "name": "payment",
      "description": "決済",
      "x-displayName": "決済"
    },
    {
      "name": "delivery",
      "description": "配送",
      "x-displayName": "配送"
    },
    {
      "name": "gift",
      "description": "ギフト",
      "x-displayName": "ギフト"
    },
    {
      "name": "shop_coupon",
      "description": "ショップクーポン",
      "x-displayName": "ショップクーポン"
    },
    {
      "name": "review",
      "description": "レビュー",
      "x-displayName": "レビュー"
    },
    {
      "name": "templates",
      "description": "テンプレート",
      "x-displayName": "テンプレート"
    }
  ],
  "x-tagGroups": [
    {
      "name": "ショップ",
      "tags": [
        "shop"
      ]
    },
    {
      "name": "受注",
      "tags": [
        "sale"
      ]
    },
    {
      "name": "顧客",
      "tags": [
        "customer"
      ]
    },
    {
      "name": "商品",
      "tags": [
        "product",
        "product_variant",
        "product_option",
        "group",
        "category",
        "stock",
        "review"
      ]
    },
    {
      "name": "決済",
      "tags": [
        "payment"
      ]
    },
    {
      "name": "配送",
      "tags": [
        "delivery"
      ]
    },
    {
      "name": "ギフト",
      "tags": [
        "gift"
      ]
    },
    {
      "name": "クーポン",
      "tags": [
        "shop_coupon"
      ]
    },
    {
      "name": "テンプレート",
      "tags": [
        "templates"
      ]
    }
  ],
  "paths": {
    "/v1/shop": {
      "get": {
        "summary": "ショップ情報の取得",
        "description": "ショップ名などの基本的な情報を取得することができるAPIです。\n",
        "operationId": "getShop",
        "tags": [
          "shop"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shop": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "ショップアカウントID",
                          "example": "PAXXXXXXXX"
                        },
                        "state": {
                          "type": "string",
                          "description": "アカウント状態",
                          "enum": [
                            "enabled",
                            "suspended",
                            "unsigned"
                          ]
                        },
                        "domain_plan": {
                          "type": "string",
                          "description": "ドメインプラン",
                          "enum": [
                            "cmsp_sub_domain",
                            "own_domain",
                            "own_sub_domain"
                          ]
                        },
                        "contract_plan": {
                          "type": "string",
                          "description": "契約プラン",
                          "enum": [
                            "unknown",
                            "economy",
                            "small",
                            "regular",
                            "lolipop",
                            "heteml",
                            "platinum",
                            "goope",
                            "large",
                            "dormant",
                            "free",
                            "premium"
                          ]
                        },
                        "contract_start_date": {
                          "type": "integer",
                          "description": "契約開始日時",
                          "example": 1546268400
                        },
                        "contract_end_date": {
                          "type": "integer",
                          "description": "契約終了日時",
                          "example": 1577718000
                        },
                        "contract_term": {
                          "type": "integer",
                          "description": "契約期間",
                          "example": 12,
                          "nullable": true
                        },
                        "last_login_date": {
                          "type": "integer",
                          "description": "最終ログイン日時",
                          "example": 1570750709
                        },
                        "setup_date": {
                          "type": "integer",
                          "description": "申し込み完了日時",
                          "example": 1511747460
                        },
                        "make_date": {
                          "type": "integer",
                          "description": "アカウント作成日時",
                          "example": 1511747460
                        },
                        "url": {
                          "type": "string",
                          "description": "ショップURL",
                          "example": "https://example.shop-pro.jp"
                        },
                        "open_state": {
                          "type": "string",
                          "description": "開店状態",
                          "enum": [
                            "opened",
                            "closed",
                            "prepare",
                            "paused"
                          ]
                        },
                        "mobile_open_state": {
                          "type": "string",
                          "description": "モバイルショップ開店状態",
                          "enum": [
                            "opened",
                            "closed",
                            "prepare",
                            "paused"
                          ]
                        },
                        "login_id": {
                          "type": "string",
                          "description": "ログインID",
                          "example": "testshop"
                        },
                        "name1": {
                          "type": "string",
                          "description": "登録者氏名（姓）",
                          "example": "山田"
                        },
                        "name2": {
                          "type": "string",
                          "description": "登録者氏名（名）",
                          "example": "太郎"
                        },
                        "name1_kana": {
                          "type": "string",
                          "description": "登録者氏名カナ（姓）",
                          "example": "ヤマダ"
                        },
                        "name2_kana": {
                          "type": "string",
                          "description": "登録者氏名カナ（名）",
                          "example": "タロウ"
                        },
                        "hojin": {
                          "type": "string",
                          "description": "法人名",
                          "example": "",
                          "nullable": true
                        },
                        "hojin_kana": {
                          "type": "string",
                          "description": "法人名カナ",
                          "example": "",
                          "nullable": true
                        },
                        "user_mail": {
                          "type": "string",
                          "format": "email",
                          "description": "登録者メールアドレス",
                          "example": "tarou@example.com"
                        },
                        "tel": {
                          "type": "string",
                          "description": "登録者電話番号",
                          "example": "11-1111-1111"
                        },
                        "fax": {
                          "type": "string",
                          "description": "登録者FAX番号",
                          "nullable": true,
                          "example": null
                        },
                        "postal": {
                          "type": "string",
                          "description": "郵便番号",
                          "example": "1508512"
                        },
                        "pref_id": {
                          "type": "integer",
                          "description": "都道府県ID",
                          "example": 13
                        },
                        "pref_name": {
                          "type": "string",
                          "description": "都道府県名",
                          "example": "東京都"
                        },
                        "address1": {
                          "type": "string",
                          "description": "住所1",
                          "example": "渋谷区桜丘町"
                        },
                        "address2": {
                          "type": "string",
                          "description": "住所2",
                          "example": "26-1 セルリアンタワー"
                        },
                        "title": {
                          "type": "string",
                          "description": "ショップ名",
                          "example": "テスト商店"
                        },
                        "title_short": {
                          "type": "string",
                          "description": "メールタイトル用ショップ名",
                          "example": "テスト商店",
                          "nullable": true
                        },
                        "shop_mail_1": {
                          "type": "string",
                          "format": "email",
                          "description": "管理者メールアドレス",
                          "example": "shop@example.com"
                        },
                        "shop_mail_2": {
                          "type": "string",
                          "format": "email",
                          "description": "管理者携帯メールアドレス",
                          "example": "shop-phone@example.com",
                          "nullable": true
                        },
                        "tax_type": {
                          "type": "string",
                          "enum": [
                            "excluded",
                            "included"
                          ],
                          "description": "消費税の内税・外税設定"
                        },
                        "tax": {
                          "type": "integer",
                          "description": "消費税率",
                          "example": 10
                        },
                        "tax_rounding_method": {
                          "type": "string",
                          "enum": [
                            "round_off",
                            "round_down",
                            "round_up"
                          ],
                          "description": "消費税の切り捨て、切り上げ設定"
                        },
                        "reduce_tax_rate": {
                          "type": "integer",
                          "description": "軽減税率",
                          "example": 8
                        },
                        "shop_logo_url": {
                          "type": "string",
                          "description": "ショップロゴ画像のURL",
                          "example": "https://img00.shop-pro.jp/PA00000/001/PA00000001.png?cmsp_timestamp=20201201214110",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales": {
      "get": {
        "summary": "受注データのリストを取得",
        "description": "受注データのリストを取得します。（日付が指定されていない場合は直近1週間分を取得します。）",
        "operationId": "getSales",
        "tags": [
          "sale"
        ],
        "security": [
          {
            "OAuth2": [
              "read_sales"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "受注IDで検索。カンマ区切りで複数指定可能",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "description": "指定日時以降の受注から検索。\n\n`after` 未指定時は `before` の指定日時の7日前の0時、\n\n`before` 未指定時は現在から7日前の0時がデフォルト値となります。\n",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
            }
          },
          {
            "in": "query",
            "name": "before",
            "description": "指定日時以前の受注から検索",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
            }
          },
          {
            "in": "query",
            "name": "make_date_min",
            "description": "`after`と同義",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
            }
          },
          {
            "in": "query",
            "name": "make_date_max",
            "description": "`before`と同義",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
            }
          },
          {
            "in": "query",
            "name": "update_date_min",
            "description": "指定日時以降に更新された受注から検索",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
            }
          },
          {
            "in": "query",
            "name": "update_date_max",
            "description": "指定日時以前に更新された受注から検索",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
            }
          },
          {
            "in": "query",
            "name": "customer_ids",
            "description": "購入した顧客IDで検索。カンマ区切りにすることで複数検索が可能",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "customer_name",
            "description": "購入した顧客名で部分一致検索",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "customer_furigana",
            "description": "購入した顧客フリガナがで部分一致検索",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "customer_mail",
            "description": "購入した顧客メールアドレスで部分一致検索",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "accepted_mail_state",
            "description": "受注メールの送信状態で検索\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
            "schema": {
              "type": "string",
              "enum": [
                "not_yet",
                "sent",
                "pass"
              ]
            }
          },
          {
            "in": "query",
            "name": "paid_mail_state",
            "description": "入金メールの送信状態で検索\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
            "schema": {
              "type": "string",
              "enum": [
                "not_yet",
                "sent",
                "pass"
              ]
            }
          },
          {
            "in": "query",
            "name": "delivered_mail_state",
            "description": "配送メールの送信状態で検索\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
            "schema": {
              "type": "string",
              "enum": [
                "not_yet",
                "sent",
                "pass"
              ]
            }
          },
          {
            "in": "query",
            "name": "mobile",
            "description": "`true`なら携帯からの受注のみ取得",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "paid",
            "description": "`true`なら入金済みの受注のみ取得",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "delivered",
            "description": "`true`なら配送済みの受注のみ取得",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "canceled",
            "description": "`true`ならキャンセル済みの受注のみ取得",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "payment_ids",
            "description": "使用された決済のIDで検索。カンマ区切りで複数指定可能",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "レスポンスJSONのキーをカンマ区切りで指定",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "レスポンスの件数を指定。指定がない場合は10。最大100",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "指定した数値+1件目以降のデータを返す",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sales": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "売上ID",
                            "type": "integer",
                            "example": 4434233
                          },
                          "account_id": {
                            "description": "ショップアカウントID",
                            "type": "string",
                            "example": "PAXXXXXXXX"
                          },
                          "make_date": {
                            "description": "受注日時",
                            "type": "integer",
                            "example": 1465784934
                          },
                          "update_date": {
                            "description": "受注更新日時",
                            "type": "integer",
                            "example": 1494496895
                          },
                          "memo": {
                            "description": "備考",
                            "type": "string",
                            "nullable": true,
                            "deprecated": true,
                            "example": null
                          },
                          "payment_id": {
                            "description": "使用された決済方法ID",
                            "type": "integer",
                            "example": 751
                          },
                          "mobile": {
                            "description": "モバイルからの注文であるか否か",
                            "type": "boolean",
                            "example": false
                          },
                          "paid": {
                            "description": "入金済みであるか否か",
                            "type": "boolean",
                            "example": true
                          },
                          "delivered": {
                            "description": "発送済みである否か",
                            "type": "boolean",
                            "example": true
                          },
                          "canceled": {
                            "description": "キャンセル済みであるか否か",
                            "type": "boolean",
                            "example": false
                          },
                          "accepted_mail_state": {
                            "description": "受注メールの送信状態\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
                            "type": "string",
                            "enum": [
                              "not_yet",
                              "sent",
                              "pass"
                            ]
                          },
                          "paid_mail_state": {
                            "description": "入金メールの送信状態\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
                            "type": "string",
                            "enum": [
                              "not_yet",
                              "sent",
                              "pass"
                            ]
                          },
                          "delivered_mail_state": {
                            "description": "発送メールの送信状態\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
                            "type": "string",
                            "enum": [
                              "not_yet",
                              "sent",
                              "pass"
                            ]
                          },
                          "accepted_mail_sent_date": {
                            "description": "受注メールの送信日時",
                            "type": "integer",
                            "nullable": true,
                            "example": 1363152822
                          },
                          "paid_mail_sent_date": {
                            "description": "入金メールの送信日時",
                            "type": "integer",
                            "nullable": true,
                            "example": 1363153288
                          },
                          "delivered_mail_sent_date": {
                            "description": "発送メールの送信日時",
                            "type": "integer",
                            "nullable": true,
                            "example": 1363154591
                          },
                          "point_state": {
                            "description": "ショップポイント付与状態\n\n- `assumed`: 仮付与\n- `fixed`: 確定済み\n- `canceled`: キャンセル済み\n",
                            "type": "string",
                            "enum": [
                              "assumed",
                              "fixed",
                              "canceled"
                            ]
                          },
                          "gmo_point_state": {
                            "description": "GMOポイント付与状態\n\n- `assumed`: 仮付与\n- `fixed`: 確定済み\n- `canceled`: キャンセル済み\n",
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "assumed",
                              "fixed",
                              "canceled"
                            ]
                          },
                          "yahoo_point_state": {
                            "description": "Yahooポイント付与状態\n\n- `assumed`: 仮付与\n- `fixed`: 確定済み\n- `canceled`: キャンセル済み\n",
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "assumed",
                              "fixed",
                              "canceled"
                            ]
                          },
                          "product_total_price": {
                            "description": "商品の合計金額",
                            "type": "integer",
                            "example": 1000
                          },
                          "delivery_total_charge": {
                            "description": "配送料",
                            "type": "integer",
                            "example": 350
                          },
                          "fee": {
                            "description": "決済手数料",
                            "type": "integer",
                            "example": 300
                          },
                          "tax": {
                            "description": "商品合計金額に対する消費税",
                            "type": "integer",
                            "example": 80
                          },
                          "noshi_total_charge": {
                            "description": "熨斗料金",
                            "type": "integer",
                            "example": 0
                          },
                          "card_total_charge": {
                            "description": "メッセージカード料金",
                            "type": "integer",
                            "example": 200
                          },
                          "wrapping_total_charge": {
                            "description": "ラッピング料金",
                            "type": "integer",
                            "example": 0
                          },
                          "point_discount": {
                            "description": "ショップポイントによる割引額",
                            "type": "integer",
                            "example": 0
                          },
                          "gmo_point_discount": {
                            "description": "GMOポイントによる割引額",
                            "type": "integer",
                            "example": 0
                          },
                          "other_discount": {
                            "description": "その他、クーポン等による割引額",
                            "type": "integer",
                            "example": 0
                          },
                          "other_discount_name": {
                            "description": "その他割引の名称",
                            "type": "string",
                            "example": ""
                          },
                          "total_price": {
                            "description": "注文総額",
                            "type": "integer",
                            "example": 1930
                          },
                          "granted_points": {
                            "description": "付与されたショップポイント数",
                            "type": "integer",
                            "example": 100
                          },
                          "use_points": {
                            "description": "使用されたショップポイント数",
                            "type": "integer",
                            "example": 0
                          },
                          "granted_gmo_points": {
                            "description": "付与されたGMOポイント数",
                            "type": "integer",
                            "example": 0
                          },
                          "use_gmo_points": {
                            "description": "使用されたGMOポイント数",
                            "type": "integer",
                            "example": 0
                          },
                          "granted_yahoo_points": {
                            "description": "付与されたYahooポイント数",
                            "type": "integer",
                            "example": 0
                          },
                          "use_yahoo_points": {
                            "description": "使用されたYahooポイント数",
                            "type": "integer",
                            "example": 0
                          },
                          "external_order_id": {
                            "description": "外部システムで発行された決済識別番号\n\n該当受注の決済が、楽天ペイ（オンライン決済）、LINE Pay、PayPal Commerce Platform、Amazon Pay、Amazon Pay V2、Square対面決済のいずれかである場合、その決済の決済識別番号を返します。\nそれ以外の決済に関しては空文字列を返します。\n",
                            "type": "string",
                            "example": "ABC0123456789"
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "顧客ID",
                                "type": "integer",
                                "example": 998273
                              },
                              "account_id": {
                                "description": "ショップアカウントID",
                                "type": "string",
                                "example": "PA01234567"
                              },
                              "name": {
                                "description": "顧客の名前",
                                "type": "string",
                                "nullable": true,
                                "example": "カラーミー太郎"
                              },
                              "furigana": {
                                "description": "名前のフリガナ",
                                "type": "string",
                                "nullable": true,
                                "example": "カラーミータロウ"
                              },
                              "hojin": {
                                "description": "法人名",
                                "type": "string",
                                "nullable": true,
                                "example": "GMOペパボ株式会社"
                              },
                              "busho": {
                                "description": "部署名",
                                "type": "string",
                                "nullable": true,
                                "example": "EC事業部"
                              },
                              "sex": {
                                "description": "性別",
                                "type": "string",
                                "nullable": true,
                                "enum": [
                                  "male",
                                  "female",
                                  "not_applicable"
                                ],
                                "example": "male"
                              },
                              "birthday": {
                                "description": "誕生日",
                                "type": "string",
                                "nullable": true,
                                "example": "1999-01-01"
                              },
                              "postal": {
                                "description": "郵便番号",
                                "type": "string",
                                "nullable": true,
                                "example": "1578512"
                              },
                              "pref_id": {
                                "description": "都道府県の通し番号。北海道が1、沖縄が47、海外が48",
                                "type": "integer",
                                "nullable": true,
                                "example": 13
                              },
                              "pref_name": {
                                "description": "都道府県名",
                                "type": "string",
                                "nullable": true,
                                "example": "東京都"
                              },
                              "address1": {
                                "description": "住所1",
                                "type": "string",
                                "nullable": true,
                                "example": "渋谷区桜丘町26-1"
                              },
                              "address2": {
                                "description": "住所2",
                                "type": "string",
                                "nullable": true,
                                "example": "セルリアンタワー"
                              },
                              "mail": {
                                "description": "メールアドレス",
                                "type": "string",
                                "nullable": true,
                                "example": "example@pepabo.com"
                              },
                              "tel": {
                                "description": "電話番号",
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "fax": {
                                "description": "FAX番号",
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "tel_mobile": {
                                "description": "携帯電話番号",
                                "type": "string",
                                "nullable": true,
                                "example": "080-1234-1234"
                              },
                              "other": {
                                "description": "備考",
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "points": {
                                "description": "保有ポイント数",
                                "type": "integer",
                                "example": 216
                              },
                              "member": {
                                "description": "会員登録済みであるか否か",
                                "type": "boolean",
                                "example": true
                              },
                              "sales_count": {
                                "description": "これまでの購入回数",
                                "type": "integer",
                                "example": 3
                              },
                              "receive_mail_magazine": {
                                "description": "メルマガ受信可否",
                                "type": "boolean",
                                "example": true,
                                "nullable": true
                              },
                              "answer_free_form1": {
                                "description": "フリー項目1の入力内容",
                                "type": "string",
                                "nullable": true,
                                "example": "これはフリー項目1の入力内容です"
                              },
                              "answer_free_form2": {
                                "description": "フリー項目2の入力内容",
                                "type": "string",
                                "nullable": true,
                                "example": "これはフリー項目2の入力内容です"
                              },
                              "answer_free_form3": {
                                "description": "フリー項目3の入力内容",
                                "type": "string",
                                "nullable": true,
                                "example": "これはフリー項目3の入力内容です"
                              },
                              "make_date": {
                                "description": "作成日時",
                                "type": "integer",
                                "example": 1465784944
                              },
                              "update_date": {
                                "description": "更新日時",
                                "type": "integer",
                                "example": 1494496809
                              },
                              "membership": {
                                "description": "顧客が所属する会員ランク\n会員ランクに所属していない顧客は値がnullになります。\n\n注意事項:\n- カラーミーショップ アプリストアで提供している「会員ランク」を利用していない場合でもこのフィールドは存在します。\n",
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "membership_id": {
                                    "description": "会員ランクID",
                                    "type": "string",
                                    "example": "gold_member"
                                  },
                                  "name": {
                                    "description": "会員ランク名",
                                    "type": "string",
                                    "example": "ゴールド会員"
                                  }
                                }
                              },
                              "external_accounts": {
                                "description": "顧客に関連付けられた外部システムのリスト",
                                "type": "array",
                                "nullable": true,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "provider": {
                                      "description": "外部システムの種別\n- `0`: LINE\n",
                                      "type": "integer",
                                      "enum": [
                                        0
                                      ]
                                    },
                                    "uid": {
                                      "description": "外部システムのユーザーID",
                                      "type": "string",
                                      "example": "6cfd46d2fd18eb15d01ce0a00d4b0349"
                                    },
                                    "created_at": {
                                      "description": "外部システムとの連携日時",
                                      "type": "integer",
                                      "example": 1465784934
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "details": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "受注明細ID",
                                  "type": "integer",
                                  "example": 44344599
                                },
                                "sale_id": {
                                  "description": "売上ID",
                                  "type": "integer",
                                  "example": 4434233
                                },
                                "account_id": {
                                  "description": "ショップアカウントID",
                                  "type": "string",
                                  "example": "PA01234567"
                                },
                                "product_id": {
                                  "description": "商品ID",
                                  "type": "integer",
                                  "example": 1342332
                                },
                                "sale_delivery_id": {
                                  "description": "お届け先ID",
                                  "type": "integer",
                                  "example": 1173289,
                                  "nullable": true
                                },
                                "option1_value": {
                                  "description": "オプション1の値(最新の商品情報)",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "赤"
                                },
                                "option2_value": {
                                  "description": "オプション2の値(最新の商品情報)",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "Sサイズ"
                                },
                                "option1_index": {
                                  "description": "オプション1の値の選択肢中の位置",
                                  "type": "integer",
                                  "nullable": true,
                                  "example": 0
                                },
                                "option2_index": {
                                  "description": "オプション2の値の選択肢中の位置",
                                  "type": "integer",
                                  "nullable": true,
                                  "example": 0
                                },
                                "product_model_number": {
                                  "description": "型番",
                                  "type": "string",
                                  "example": "T-RED-S-223"
                                },
                                "product_name": {
                                  "description": "商品名(最新の商品情報)",
                                  "type": "string",
                                  "example": "Tシャツ"
                                },
                                "pristine_product_full_name": {
                                  "description": "商品名とオプション名(注文時の商品情報)",
                                  "type": "string",
                                  "example": "Tシャツ（カラー：赤、サイズ：Sサイズ）"
                                },
                                "product_cost": {
                                  "description": "商品原価",
                                  "type": "integer",
                                  "nullable": true,
                                  "example": 1000
                                },
                                "product_image_url": {
                                  "description": "商品画像URL",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "https://img07.shop-pro.jp/XXX/XX/product/123.jpg?20130319164314"
                                },
                                "product_thumbnail_image_url": {
                                  "description": "サムネイル用商品画像URL",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "https://img07.shop-pro.jp/XXX/XX/product/123_th.jpg?20130319164314"
                                },
                                "product_mobile_image_url": {
                                  "description": "モバイル用商品画像URL",
                                  "type": "string",
                                  "nullable": true,
                                  "deprecated": true,
                                  "example": "https://img07.shop-pro.jp/XXX/XX/product/123_mb.jpg?20130319164314"
                                },
                                "price": {
                                  "description": "商品販売価格",
                                  "type": "integer",
                                  "example": 1680
                                },
                                "price_with_tax": {
                                  "description": "税込み商品価格",
                                  "type": "integer",
                                  "example": 1814
                                },
                                "product_num": {
                                  "description": "商品点数",
                                  "type": "integer",
                                  "example": 1
                                },
                                "unit": {
                                  "description": "単位",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "枚"
                                },
                                "subtotal_price": {
                                  "description": "商品小計。販売価格と点数の積",
                                  "type": "integer",
                                  "example": 1814
                                },
                                "tax_reduced": {
                                  "description": "軽減税率対象商品かどうか",
                                  "type": "boolean",
                                  "example": false
                                },
                                "customizations": {
                                  "type": "array",
                                  "description": "商品のカスタマイズ情報",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "title": {
                                        "type": "string",
                                        "description": "カスタマイズ項目名",
                                        "example": "名入れ"
                                      },
                                      "value": {
                                        "type": "string",
                                        "description": "カスタマイズ値",
                                        "example": "オリジナル名"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "sale_deliveries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "お届け先ID",
                                  "type": "integer",
                                  "example": 1173289
                                },
                                "account_id": {
                                  "description": "ショップアカウントID",
                                  "type": "string",
                                  "example": "PA01234567"
                                },
                                "sale_id": {
                                  "description": "売上ID",
                                  "type": "integer",
                                  "example": 4434233
                                },
                                "delivery_id": {
                                  "description": "使用された配送方法ID",
                                  "type": "integer",
                                  "example": 113922,
                                  "readOnly": true
                                },
                                "detail_ids": {
                                  "description": "この配送に含まれる受注明細IDの配列",
                                  "type": "array",
                                  "items": {
                                    "type": "integer"
                                  },
                                  "example": [
                                    44344599
                                  ]
                                },
                                "name": {
                                  "description": "宛名",
                                  "type": "string",
                                  "example": "ペパボ太郎"
                                },
                                "furigana": {
                                  "description": "宛名のフリガナ",
                                  "type": "string",
                                  "example": "ペパボタロウ"
                                },
                                "postal": {
                                  "description": "郵便番号",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "1508512"
                                },
                                "pref_id": {
                                  "description": "都道府県の通し番号。北海道が1、沖縄が47",
                                  "type": "integer",
                                  "example": 13
                                },
                                "pref_name": {
                                  "description": "都道府県名",
                                  "type": "string",
                                  "example": "東京都"
                                },
                                "address1": {
                                  "description": "住所1",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "渋谷区桜丘町26-1"
                                },
                                "address2": {
                                  "description": "住所2",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "セルリアンタワー"
                                },
                                "tel": {
                                  "description": "電話番号",
                                  "type": "string",
                                  "nullable": true,
                                  "example": null
                                },
                                "preferred_date": {
                                  "description": "配送希望日",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "2017-05-21"
                                },
                                "preferred_period": {
                                  "description": "配送希望時間帯",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "午前中"
                                },
                                "slip_number": {
                                  "description": "配送伝票番号",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "1234-5678-9012"
                                },
                                "noshi_text": {
                                  "description": "熨斗の文言",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "寿"
                                },
                                "noshi_charge": {
                                  "description": "熨斗の料金",
                                  "type": "integer",
                                  "nullable": true,
                                  "example": 100
                                },
                                "card_name": {
                                  "description": "メッセージカードの表示名",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "バースデーカード"
                                },
                                "card_text": {
                                  "description": "メッセージカードのテキスト",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "おめでとう"
                                },
                                "card_charge": {
                                  "description": "メッセージカードの料金",
                                  "type": "integer",
                                  "nullable": true,
                                  "example": 150
                                },
                                "wrapping_name": {
                                  "description": "ラッピングの表示名",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "ギフト用ラッピング（ピンク）"
                                },
                                "wrapping_charge": {
                                  "description": "ラッピングの料金",
                                  "type": "integer",
                                  "nullable": true,
                                  "example": 200
                                },
                                "delivery_charge": {
                                  "description": "配送料",
                                  "type": "integer",
                                  "example": 350
                                },
                                "total_charge": {
                                  "description": "配送料・手数料の小計",
                                  "type": "integer",
                                  "example": 800
                                },
                                "tracking_url": {
                                  "description": "配送状況確認URL",
                                  "type": "string",
                                  "nullable": true,
                                  "example": "https://example.com/delivery_state?id=111-222-33333"
                                },
                                "memo": {
                                  "description": "備考",
                                  "type": "string",
                                  "nullable": true,
                                  "example": null
                                },
                                "delivered": {
                                  "description": "発送済みであるか否か",
                                  "type": "boolean",
                                  "example": false
                                }
                              }
                            }
                          },
                          "segment": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "description": "分割された受注内のID"
                              },
                              "name": {
                                "type": "string",
                                "description": "区分名"
                              },
                              "parent_sale_id": {
                                "type": "integer",
                                "example": 4434233,
                                "description": "親受注のID。\n該当の受注が分割されていない場合、自身の受注IDを返します。\n"
                              },
                              "splitted": {
                                "type": "boolean",
                                "description": "該当の受注が分割されているか否か"
                              },
                              "product_total_price": {
                                "type": "integer",
                                "example": 2000,
                                "description": "分割された受注の商品の合計金額"
                              },
                              "delivery_total_charge": {
                                "type": "integer",
                                "example": 700,
                                "description": "分割された受注の配送料の合計"
                              },
                              "total_price": {
                                "type": "integer",
                                "example": 2700,
                                "description": "分割された受注金額の総計"
                              },
                              "noshi_total_charge": {
                                "type": "integer",
                                "example": 0,
                                "description": "分割された受注の熨斗料金の合計"
                              },
                              "card_total_charge": {
                                "type": "integer",
                                "example": 200,
                                "description": "分割された受注のメッセージカード料金の合計"
                              },
                              "wrapping_total_charge": {
                                "type": "integer",
                                "example": 0,
                                "description": "分割された受注のラッピング料金の合計"
                              }
                            }
                          },
                          "totals": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "normal_tax_amount": {
                                "type": "integer",
                                "example": 90,
                                "description": "受注における通常税率(10%)の消費税"
                              },
                              "reduced_tax_amount": {
                                "type": "integer",
                                "example": 13,
                                "description": "受注における軽減税率(8%)の消費税"
                              },
                              "discount_amount_for_normal_tax": {
                                "type": "integer",
                                "example": 171,
                                "description": "通常税率(10%)の適用金額を対象としたの割引額"
                              },
                              "discount_amount_for_reduced_tax": {
                                "type": "integer",
                                "example": 29,
                                "description": "軽減税率(8%)の適用金額を対象としたの割引額"
                              },
                              "total_price_with_normal_tax": {
                                "type": "integer",
                                "example": 989,
                                "description": "通常税率(10%)の適用金額の税込合計額"
                              },
                              "total_price_with_reduced_tax": {
                                "type": "integer",
                                "example": 171,
                                "description": "軽減税率(8%)の適用金額の税込合計額"
                              }
                            }
                          },
                          "application": {
                            "type": "object",
                            "nullable": true,
                            "description": "受注を作成したOAuthアプリケーション情報",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "アプリケーション名",
                                "example": "サンプルアプリ"
                              }
                            }
                          },
                          "shop_coupon": {
                            "type": "object",
                            "nullable": true,
                            "description": "受注で使用されたショップクーポン情報",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "ショップクーポンID",
                                "example": 123
                              },
                              "name": {
                                "type": "string",
                                "description": "クーポン名",
                                "example": "新規会員限定クーポン"
                              },
                              "code": {
                                "type": "string",
                                "description": "クーポンコード",
                                "example": "WELCOME10"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "description": "トータルの件数",
                          "type": "integer",
                          "example": 300
                        },
                        "limit": {
                          "description": "実効limit",
                          "type": "integer",
                          "example": 50
                        },
                        "offset": {
                          "description": "実効offset",
                          "type": "integer",
                          "example": 200
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "受注データを作成",
        "description": "受注データを作成します。\n\nカラーミーショップでご契約中のプランがプレミアムのアカウントでのみご利用いただけます。\n\nリクエストボディ中の顧客情報をもとにゲスト購入として受注データを作成します。顧客ID が指定され会員登録済みの場合、その顧客の受注として作成します。その際、顧客ID以外の顧客情報は無視されます。\n\n決済方法としては代金引換、銀行振込、郵便振替、Square、イプシロン（クレジット・コンビニ・PayPal・スマートフォンキャリア決済・ネット銀行・住信SBIネット銀行・PayPay・GMO後払い）、楽天ペイ（V2）、その他決済を指定できます。クエリパラメータで在庫を引き当てないように指定できます。\n\nwrite_salesスコープが必要です。\n",
        "operationId": "createSale",
        "tags": [
          "sale"
        ],
        "parameters": [
          {
            "name": "reserve_stocks",
            "in": "query",
            "description": "在庫を引き当てるかどうか",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "sale": {
                        "type": "object",
                        "properties": {
                          "customer": {
                            "description": "存在する顧客の受注を作る場合はidを、そうでない場合はid以外の各属性を渡します。\n",
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "顧客ID。存在する顧客のIDなら、その顧客の受注を作成します",
                                "type": "integer",
                                "example": 1028030
                              },
                              "name": {
                                "description": "顧客氏名",
                                "type": "string",
                                "example": "ペパボ太郎"
                              },
                              "furigana": {
                                "description": "顧客氏名フリガナ",
                                "type": "string",
                                "example": "ペパボタロウ"
                              },
                              "postal": {
                                "description": "郵便番号",
                                "type": "string",
                                "example": "1508512"
                              },
                              "pref_id": {
                                "description": "https://developer.shop-pro.jp/docs/colorme-api#section/API/都道府県コードについて に基づく都道府県コード",
                                "type": "integer",
                                "example": 13
                              },
                              "address1": {
                                "description": "住所1",
                                "type": "string",
                                "example": "渋谷区桜丘町26-1"
                              },
                              "address2": {
                                "description": "住所2",
                                "type": "string",
                                "example": "セルリアンタワー"
                              },
                              "mail": {
                                "description": "メールアドレス",
                                "type": "string",
                                "example": "example@example.com"
                              },
                              "tel": {
                                "description": "電話番号",
                                "type": "string",
                                "example": "03-1234-1234"
                              },
                              "fax": {
                                "description": "FAX番号",
                                "type": "string",
                                "example": null
                              },
                              "tel_mobile": {
                                "description": "携帯電話番号",
                                "type": "string",
                                "example": "080-1234-1234"
                              },
                              "sex": {
                                "description": "性別",
                                "type": "string",
                                "enum": [
                                  "male",
                                  "female"
                                ]
                              },
                              "birthday": {
                                "description": "誕生日",
                                "type": "string",
                                "example": "1999-01-01"
                              }
                            }
                          },
                          "sale_deliveries": {
                            "description": "配送不要商品を含む場合を除き必須です。\n",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "delivery_id": {
                                  "description": "使用された配送方法ID",
                                  "type": "integer",
                                  "example": 113922
                                },
                                "name": {
                                  "description": "宛名",
                                  "type": "string",
                                  "example": "ペパボ太郎"
                                },
                                "furigana": {
                                  "description": "宛名のフリガナ",
                                  "type": "string",
                                  "example": "ペパボタロウ"
                                },
                                "postal": {
                                  "description": "郵便番号",
                                  "type": "string",
                                  "example": "1508512"
                                },
                                "pref_id": {
                                  "description": "https://developer.shop-pro.jp/docs/colorme-api#section/API/都道府県コードについて に基づく都道府県コード",
                                  "type": "integer",
                                  "example": 13
                                },
                                "address1": {
                                  "description": "住所1",
                                  "type": "string",
                                  "example": "渋谷区桜丘町26-1"
                                },
                                "address2": {
                                  "description": "住所2",
                                  "type": "string",
                                  "example": "セルリアンタワー"
                                },
                                "tel": {
                                  "description": "電話番号",
                                  "type": "string",
                                  "example": null
                                },
                                "preferred_date": {
                                  "description": "配送希望日",
                                  "type": "string",
                                  "format": "date",
                                  "example": "2017-05-21"
                                },
                                "preferred_period": {
                                  "description": "配送希望時間帯",
                                  "type": "string",
                                  "example": "午前中"
                                },
                                "memo": {
                                  "description": "備考欄",
                                  "type": "string",
                                  "example": "手提げ袋1枚希望"
                                }
                              },
                              "required": [
                                "delivery_id",
                                "name",
                                "furigana",
                                "postal",
                                "pref_id",
                                "address1",
                                "tel"
                              ]
                            }
                          },
                          "details": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "product_id": {
                                  "description": "商品ID\n\n非掲載の商品も受注できます。\n",
                                  "type": "integer",
                                  "example": 1342332
                                },
                                "option1_value": {
                                  "description": "商品オプション1の値",
                                  "type": "string",
                                  "example": "赤"
                                },
                                "option2_value": {
                                  "description": "商品オプション2の値",
                                  "type": "string",
                                  "example": "S"
                                },
                                "product_num": {
                                  "description": "商品数量",
                                  "type": "integer",
                                  "example": 2
                                },
                                "price": {
                                  "description": "価格を指定して受注を作成できます。\n\nショップの消費税設定が外税なら税抜価格、内税なら税込価格を指定します。\n\n指定しない場合、カラーミーショップの商品価格が適用されます。\n",
                                  "type": "integer",
                                  "example": 4000
                                }
                              },
                              "required": [
                                "product_id",
                                "product_num"
                              ]
                            }
                          },
                          "payment_id": {
                            "description": "使用された決済方法ID\n\n非表示の決済方法も使用できます。\n\n利用可能な決済種別は代金引換、銀行振込、郵便振替、クレジット・イプシロン、その他決済です。\n",
                            "type": "integer",
                            "example": 751
                          }
                        },
                        "required": [
                          "details",
                          "payment_id"
                        ]
                      }
                    },
                    "required": [
                      "sale"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sale": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "売上ID",
                          "type": "integer",
                          "example": 4434233
                        },
                        "account_id": {
                          "description": "ショップアカウントID",
                          "type": "string",
                          "example": "PAXXXXXXXX"
                        },
                        "make_date": {
                          "description": "受注日時",
                          "type": "integer",
                          "example": 1465784934
                        },
                        "update_date": {
                          "description": "受注更新日時",
                          "type": "integer",
                          "example": 1494496895
                        },
                        "memo": {
                          "description": "備考",
                          "type": "string",
                          "nullable": true,
                          "deprecated": true,
                          "example": null
                        },
                        "payment_id": {
                          "description": "使用された決済方法ID",
                          "type": "integer",
                          "example": 751
                        },
                        "mobile": {
                          "description": "モバイルからの注文であるか否か",
                          "type": "boolean",
                          "example": false
                        },
                        "paid": {
                          "description": "入金済みであるか否か",
                          "type": "boolean",
                          "example": true
                        },
                        "delivered": {
                          "description": "発送済みである否か",
                          "type": "boolean",
                          "example": true
                        },
                        "canceled": {
                          "description": "キャンセル済みであるか否か",
                          "type": "boolean",
                          "example": false
                        },
                        "accepted_mail_state": {
                          "description": "受注メールの送信状態\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
                          "type": "string",
                          "enum": [
                            "not_yet",
                            "sent",
                            "pass"
                          ]
                        },
                        "paid_mail_state": {
                          "description": "入金メールの送信状態\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
                          "type": "string",
                          "enum": [
                            "not_yet",
                            "sent",
                            "pass"
                          ]
                        },
                        "delivered_mail_state": {
                          "description": "発送メールの送信状態\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
                          "type": "string",
                          "enum": [
                            "not_yet",
                            "sent",
                            "pass"
                          ]
                        },
                        "accepted_mail_sent_date": {
                          "description": "受注メールの送信日時",
                          "type": "integer",
                          "nullable": true,
                          "example": 1363152822
                        },
                        "paid_mail_sent_date": {
                          "description": "入金メールの送信日時",
                          "type": "integer",
                          "nullable": true,
                          "example": 1363153288
                        },
                        "delivered_mail_sent_date": {
                          "description": "発送メールの送信日時",
                          "type": "integer",
                          "nullable": true,
                          "example": 1363154591
                        },
                        "point_state": {
                          "description": "ショップポイント付与状態\n\n- `assumed`: 仮付与\n- `fixed`: 確定済み\n- `canceled`: キャンセル済み\n",
                          "type": "string",
                          "enum": [
                            "assumed",
                            "fixed",
                            "canceled"
                          ]
                        },
                        "gmo_point_state": {
                          "description": "GMOポイント付与状態\n\n- `assumed`: 仮付与\n- `fixed`: 確定済み\n- `canceled`: キャンセル済み\n",
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "assumed",
                            "fixed",
                            "canceled"
                          ]
                        },
                        "yahoo_point_state": {
                          "description": "Yahooポイント付与状態\n\n- `assumed`: 仮付与\n- `fixed`: 確定済み\n- `canceled`: キャンセル済み\n",
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "assumed",
                            "fixed",
                            "canceled"
                          ]
                        },
                        "product_total_price": {
                          "description": "商品の合計金額",
                          "type": "integer",
                          "example": 1000
                        },
                        "delivery_total_charge": {
                          "description": "配送料",
                          "type": "integer",
                          "example": 350
                        },
                        "fee": {
                          "description": "決済手数料",
                          "type": "integer",
                          "example": 300
                        },
                        "tax": {
                          "description": "商品合計金額に対する消費税",
                          "type": "integer",
                          "example": 80
                        },
                        "noshi_total_charge": {
                          "description": "熨斗料金",
                          "type": "integer",
                          "example": 0
                        },
                        "card_total_charge": {
                          "description": "メッセージカード料金",
                          "type": "integer",
                          "example": 200
                        },
                        "wrapping_total_charge": {
                          "description": "ラッピング料金",
                          "type": "integer",
                          "example": 0
                        },
                        "point_discount": {
                          "description": "ショップポイントによる割引額",
                          "type": "integer",
                          "example": 0
                        },
                        "gmo_point_discount": {
                          "description": "GMOポイントによる割引額",
                          "type": "integer",
                          "example": 0
                        },
                        "other_discount": {
                          "description": "その他、クーポン等による割引額",
                          "type": "integer",
                          "example": 0
                        },
                        "other_discount_name": {
                          "description": "その他割引の名称",
                          "type": "string",
                          "example": ""
                        },
                        "total_price": {
                          "description": "注文総額",
                          "type": "integer",
                          "example": 1930
                        },
                        "granted_points": {
                          "description": "付与されたショップポイント数",
                          "type": "integer",
                          "example": 100
                        },
                        "use_points": {
                          "description": "使用されたショップポイント数",
                          "type": "integer",
                          "example": 0
                        },
                        "granted_gmo_points": {
                          "description": "付与されたGMOポイント数",
                          "type": "integer",
                          "example": 0
                        },
                        "use_gmo_points": {
                          "description": "使用されたGMOポイント数",
                          "type": "integer",
                          "example": 0
                        },
                        "granted_yahoo_points": {
                          "description": "付与されたYahooポイント数",
                          "type": "integer",
                          "example": 0
                        },
                        "use_yahoo_points": {
                          "description": "使用されたYahooポイント数",
                          "type": "integer",
                          "example": 0
                        },
                        "external_order_id": {
                          "description": "外部システムで発行された決済識別番号\n\n該当受注の決済が、楽天ペイ（オンライン決済）、LINE Pay、PayPal Commerce Platform、Amazon Pay、Amazon Pay V2、Square対面決済のいずれかである場合、その決済の決済識別番号を返します。\nそれ以外の決済に関しては空文字列を返します。\n",
                          "type": "string",
                          "example": "ABC0123456789"
                        },
                        "customer": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "顧客ID",
                              "type": "integer",
                              "example": 998273
                            },
                            "account_id": {
                              "description": "ショップアカウントID",
                              "type": "string",
                              "example": "PA01234567"
                            },
                            "name": {
                              "description": "顧客の名前",
                              "type": "string",
                              "nullable": true,
                              "example": "カラーミー太郎"
                            },
                            "furigana": {
                              "description": "名前のフリガナ",
                              "type": "string",
                              "nullable": true,
                              "example": "カラーミータロウ"
                            },
                            "hojin": {
                              "description": "法人名",
                              "type": "string",
                              "nullable": true,
                              "example": "GMOペパボ株式会社"
                            },
                            "busho": {
                              "description": "部署名",
                              "type": "string",
                              "nullable": true,
                              "example": "EC事業部"
                            },
                            "sex": {
                              "description": "性別",
                              "type": "string",
                              "nullable": true,
                              "enum": [
                                "male",
                                "female",
                                "not_applicable"
                              ],
                              "example": "male"
                            },
                            "birthday": {
                              "description": "誕生日",
                              "type": "string",
                              "nullable": true,
                              "example": "1999-01-01"
                            },
                            "postal": {
                              "description": "郵便番号",
                              "type": "string",
                              "nullable": true,
                              "example": "1578512"
                            },
                            "pref_id": {
                              "description": "都道府県の通し番号。北海道が1、沖縄が47、海外が48",
                              "type": "integer",
                              "nullable": true,
                              "example": 13
                            },
                            "pref_name": {
                              "description": "都道府県名",
                              "type": "string",
                              "nullable": true,
                              "example": "東京都"
                            },
                            "address1": {
                              "description": "住所1",
                              "type": "string",
                              "nullable": true,
                              "example": "渋谷区桜丘町26-1"
                            },
                            "address2": {
                              "description": "住所2",
                              "type": "string",
                              "nullable": true,
                              "example": "セルリアンタワー"
                            },
                            "mail": {
                              "description": "メールアドレス",
                              "type": "string",
                              "nullable": true,
                              "example": "example@pepabo.com"
                            },
                            "tel": {
                              "description": "電話番号",
                              "type": "string",
                              "nullable": true,
                              "example": null
                            },
                            "fax": {
                              "description": "FAX番号",
                              "type": "string",
                              "nullable": true,
                              "example": null
                            },
                            "tel_mobile": {
                              "description": "携帯電話番号",
                              "type": "string",
                              "nullable": true,
                              "example": "080-1234-1234"
                            },
                            "other": {
                              "description": "備考",
                              "type": "string",
                              "nullable": true,
                              "example": null
                            },
                            "points": {
                              "description": "保有ポイント数",
                              "type": "integer",
                              "example": 216
                            },
                            "member": {
                              "description": "会員登録済みであるか否か",
                              "type": "boolean",
                              "example": true
                            },
                            "sales_count": {
                              "description": "これまでの購入回数",
                              "type": "integer",
                              "example": 3
                            },
                            "receive_mail_magazine": {
                              "description": "メルマガ受信可否",
                              "type": "boolean",
                              "example": true,
                              "nullable": true
                            },
                            "answer_free_form1": {
                              "description": "フリー項目1の入力内容",
                              "type": "string",
                              "nullable": true,
                              "example": "これはフリー項目1の入力内容です"
                            },
                            "answer_free_form2": {
                              "description": "フリー項目2の入力内容",
                              "type": "string",
                              "nullable": true,
                              "example": "これはフリー項目2の入力内容です"
                            },
                            "answer_free_form3": {
                              "description": "フリー項目3の入力内容",
                              "type": "string",
                              "nullable": true,
                              "example": "これはフリー項目3の入力内容です"
                            },
                            "make_date": {
                              "description": "作成日時",
                              "type": "integer",
                              "example": 1465784944
                            },
                            "update_date": {
                              "description": "更新日時",
                              "type": "integer",
                              "example": 1494496809
                            },
                            "membership": {
                              "description": "顧客が所属する会員ランク\n会員ランクに所属していない顧客は値がnullになります。\n\n注意事項:\n- カラーミーショップ アプリストアで提供している「会員ランク」を利用していない場合でもこのフィールドは存在します。\n",
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "membership_id": {
                                  "description": "会員ランクID",
                                  "type": "string",
                                  "example": "gold_member"
                                },
                                "name": {
                                  "description": "会員ランク名",
                                  "type": "string",
                                  "example": "ゴールド会員"
                                }
                              }
                            },
                            "external_accounts": {
                              "description": "顧客に関連付けられた外部システムのリスト",
                              "type": "array",
                              "nullable": true,
                              "items": {
                                "type": "object",
                                "properties": {
                                  "provider": {
                                    "description": "外部システムの種別\n- `0`: LINE\n",
                                    "type": "integer",
                                    "enum": [
                                      0
                                    ]
                                  },
                                  "uid": {
                                    "description": "外部システムのユーザーID",
                                    "type": "string",
                                    "example": "6cfd46d2fd18eb15d01ce0a00d4b0349"
                                  },
                                  "created_at": {
                                    "description": "外部システムとの連携日時",
                                    "type": "integer",
                                    "example": 1465784934
                                  }
                                }
                              }
                            }
                          }
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "受注明細ID",
                                "type": "integer",
                                "example": 44344599
                              },
                              "sale_id": {
                                "description": "売上ID",
                                "type": "integer",
                                "example": 4434233
                              },
                              "account_id": {
                                "description": "ショップアカウントID",
                                "type": "string",
                                "example": "PA01234567"
                              },
                              "product_id": {
                                "description": "商品ID",
                                "type": "integer",
                                "example": 1342332
                              },
                              "sale_delivery_id": {
                                "description": "お届け先ID",
                                "type": "integer",
                                "example": 1173289,
                                "nullable": true
                              },
                              "option1_value": {
                                "description": "オプション1の値(最新の商品情報)",
                                "type": "string",
                                "nullable": true,
                                "example": "赤"
                              },
                              "option2_value": {
                                "description": "オプション2の値(最新の商品情報)",
                                "type": "string",
                                "nullable": true,
                                "example": "Sサイズ"
                              },
                              "option1_index": {
                                "description": "オプション1の値の選択肢中の位置",
                                "type": "integer",
                                "nullable": true,
                                "example": 0
                              },
                              "option2_index": {
                                "description": "オプション2の値の選択肢中の位置",
                                "type": "integer",
                                "nullable": true,
                                "example": 0
                              },
                              "product_model_number": {
                                "description": "型番",
                                "type": "string",
                                "example": "T-RED-S-223"
                              },
                              "product_name": {
                                "description": "商品名(最新の商品情報)",
                                "type": "string",
[...]
